@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>
<p role="status">State: @state</p>
<p><progress value="@currentCount" max="100"></progress></p>


<button class="btn btn-primary" @onclick="Start">Start</button>

@code {
    private int currentCount = 0;
    private bool currentlyCounting = false;
    private string state = "<virgin>";

    private void Tick(object _)
    {
        InvokeAsync(StateHasChanged);
    }

    private async void Start()
    {
        if (currentlyCounting)
            return;

        currentlyCounting = true;
        state = "Counting";

        currentCount = 0;

        using (var timer = new Timer(Tick, null, 0, 10))
        {
            state = await Task<string>.Run(() =>
            {
                for (var i = 0; i < 100; i++)
                {
                    currentCount++;
                    var stamp = DateTime.Now.AddMilliseconds(100);
                    while (DateTime.Now < stamp) ;
                }
                return "Done!";
            });
        }

        Tick(null);

        currentlyCounting = false;
    }
}
